// KLINIC

@font-face {
    font-family: 'Klinic Slab';
    src: url('../fonts/klinic/KlinicSlab-Book.eot');
    src: url('../fonts/klinic/KlinicSlab-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/klinic/KlinicSlab-Book.woff2') format('woff2'),
    url('../fonts/klinic/KlinicSlab-Book.woff') format('woff'),
    url('../fonts/klinic/KlinicSlab-Book.ttf') format('truetype'),
    url('../fonts/klinic/KlinicSlab-Book.svg#KlinicSlab-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Typography

$font-family-primary: 'Futura W01', sans-serif;
$font-family-secondary: 'Klinic Slab', sans-serif;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

.vertical-title {

    position: absolute;
    left: -15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 5000;

    .number {
        color: #000000;
        font-family: $font-family-primary;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .line {
        height: 0px;
        width: 1px;
        margin-bottom: 10px;
        background-color: #000000;
        transform-origin: 100% 50%;
        transition: height 2s ease;
    }

    .text {
        font-family: $font-family-primary;
        font-size: 12px;
        color: #000000;
        text-transform: uppercase;
        font-weight: bold;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
        margin-top: 20px;
    }

    &.active {

        .line {
            height: 120px;
        }

    }

    @media only screen and (max-width: 1250px) {
        opacity: 0;
    }

    @media only screen and (max-width: 680px) {
        opacity: 1;
        transition: opacity 0.3s ease;

        .number, .line {
            display: none;
        }

        .text {
            transform: rotate(0deg);
            font-size: 12px;
        }

    }

}
