// Colors
$abundancy-copper: #C55227;
$abundancy-brown: #441C12;
$abundancy-slate: #42403C;
$abundancy-foam-green: #AAC3BC;
$abundancy-cream: #F8F9D2;
$abundancy-off-white: #DDDDDC;
$abundancy-beige: #B1AEA7;
$abundancy-gold: #FF9B20;

$color-white: #FFFFFF;


// Gradients courtesy of http://uigradients.com/
$color-shroom-haze-1: rgba(092, 037, 141, 1);
$color-shroom-haze-2: rgba(067, 137, 162, 1);
