// Common
@import "variables";

// Base
@import "type";
@import "scaffolding";

// Animations
@import "components/animations";

// Components
@import "components/buttons";
@import "components/forms";
@import "components/images";
@import "components/lists";
@import "components/modal";

//Layout
@import "layout/menu";
@import "layout/footer";

.lock {
    overflow: hidden;
    position: inherit;
}

a {
    text-decoration: none;
}

.wow {
    visibility: hidden;
}