// Buttons

a {
    &.btn {

        display: block;

        &.home {

            color: $abundancy-cream;
            font-family: $font-family-primary;
            font-weight: bold;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;

            &.parallax-btn {
                height: 40px;
                width: 150px;
                line-height: 37px;
                background-color: transparent;
                transition: all 0.3s ease;
                margin: auto;
                margin-top: 35px;
                border: 3px solid $abundancy-copper;

                &:hover {
                    color: $abundancy-foam-green;
                    background-color: transparent;
                    border: 3px solid $abundancy-brown;
                }
            }

            &.video-btn {
                height: 40px;
                width: 170px;
                line-height: 45px;
                background-color: $abundancy-brown;
                transition: all 0.3s ease;
                margin-top: 48px;

                &:hover {
                    color: $abundancy-brown;
                    background-color: $abundancy-cream;
                }

            }

        }

        &.cases {
            box-sizing: border-box;
            display: inline-block;
            color: $abundancy-brown;
            font-family: $font-family-primary;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;
            border: 3px solid $abundancy-copper;

            &.more {
                height: 40px;
                width: 140px;
                line-height: 38px;
                background-color: #ffffff;
                transition: all 0.3s ease;

                &:hover {
                    color: #ffffff;
                    background-color: $abundancy-copper;
                }

                @media only screen and (max-width: 760px) {
                    height: 50px;
                    width: 110px;
                    line-height: 48px;
                }

            }


        }

        &.contact {
            display: inline-block;
            color: $abundancy-cream;
            font-family: $font-family-primary;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;

            &.submit-btn {
                height: 40px;
                width: 145px;
                line-height: 44px;
                background-color: $abundancy-brown;
                transition: all 0.3s ease;

                &:hover {
                    color: $abundancy-brown;
                    background-color: $abundancy-cream;
                }

            }

        }

    }
}
