// Images
img {
  border: 0;
  max-width: 100%;
  display: inline-block;
}

.bouncing-logo {
  display: block;
  width: 123px;
  height: 92px;
  background-image: url('../images/icons/bouncing_icon.png');
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
  transition-delay: 1.5s;
  z-index: 500;

  &.icon-1 {
    -webkit-animation: moveX1 80s linear 0s infinite alternate, moveY1 80s linear 0s infinite alternate;
    -moz-animation: moveX1 80s linear 0s infinite alternate, moveY1 80s linear 0s infinite alternate;
    -o-animation: moveX1 80s linear 0s infinite alternate, moveY1 80s linear 0s infinite alternate;
    animation: moveX1 80s linear 0s infinite alternate, moveY1 80s linear 0s infinite alternate;
  }

  &.icon-2 {
    -webkit-animation: moveX2 60s linear 0s infinite alternate, moveY2 60s linear 0s infinite alternate;
    -moz-animation: moveX2 60s linear 0s infinite alternate, moveY2 60s linear 0s infinite alternate;
    -o-animation: moveX2 60s linear 0s infinite alternate, moveY2 60s linear 0s infinite alternate;
    animation: moveX2 60s linear 0s infinite alternate, moveY2 60s linear 0s infinite alternate;
  }

  &.icon-3 {
    -webkit-animation: moveX3 70s linear 0s infinite alternate, moveY3 70s linear 0s infinite alternate;
    -moz-animation: moveX3 70s linear 0s infinite alternate, moveY3 70s linear 0s infinite alternate;
    -o-animation: moveX3 70s linear 0s infinite alternate, moveY3 70s linear 0s infinite alternate;
    animation: moveX3 70s linear 0s infinite alternate, moveY3 70s linear 0s infinite alternate;
  }

  @media only screen and (max-width: 750px) {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

}