.case-study {

  .primary {
    min-height: 500px;
    background-color: blue;
    display: flex;
    padding-bottom: 0;
    position: relative;

    p {
      font-family: $font-family-secondary;
      font-size: 21px;
      max-width: 550px;
    }

  }

}