# Compiled directory
dist
files

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
PSDs

# Webstorm project files
.idea

# OSX files
.DS_Store
