#contact {
    .form {
        background-color: #c55227;
        padding: 120px 0 25px 0;

        .container {

            max-width: 1000px;
            width: 100%;
            margin: auto;

            h1 {
                font-family: $font-family-primary;
                font-weight: 500;
                font-size: 18px;
                color: #f8f9d2;
                text-transform: uppercase;
            }

            h2 {
                font-family: $font-family-primary;
                font-weight: bold;
                font-size: 36px;
                color: #ffffff;
                text-transform: uppercase;
            }

        }

    }
}
