#home {

    .masthead {
        min-height: 700px;
        background-color: blue;
    }

    .primary {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 700px;
        background-color: #441c12;
        background-image: url('../images/pattern_plus-sign_2x.png');
        background-size: 83px 82px;

        .text-block-one {

            span {

                display: block;
                text-transform: uppercase;
                &.small {
                    font-family: $font-family-primary;
                    font-weight: 500;
                    font-size: 18px;
                    color: #dddddc;
                }

                &.medium {
                    font-family: $font-family-primary;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 46px;
                    color: #dddddc;
                }

                &.large {
                    font-family: $font-family-primary;
                    font-weight: bold;
                    font-size: 80px;
                    line-height: 80px;
                    color: #c55227;
                    padding: 10px 0;
                }

            }

        }

    }

    .clients {
        background-color: #d0ceca;
        min-height: 215px;
        padding: 50px 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            width: 100%;
            max-width: 794px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {

                list-style-type: none;
                margin: 20px 30px;
                padding: 0;
                display: flex;
                justify-items: center;
                align-items: center;
                text-align: center;
            }

        }

    }

    .video {
        margin: 0;
        padding: 0;
        min-height: 700px;
        background-image: url('../images/home/video-bg.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-family: $font-family-primary;
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            color: #441c12;
            text-transform: uppercase;
            margin: 36px 0;

            span {
                color: #ff9b20;
            }

        }

        .video-object {
            display: block;
            background-color: gray;;
            width: 680px;
            height: 370px;
        }

    }

    .leadership {
        min-height: 700px;
        background-color: #b1aea7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 155px 15px 80px 15px;

        h3 {
            font-family: $font-family-primary;
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            color: #42403c;
            text-transform: uppercase;
            display: block;
            max-width: 896px;
            width: 100%;
            text-align: left;

            span {
                color: #ffffff;
            }

        }

        ul {
            width: 100%;
            max-width: 896px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style-type: none;
            padding: 0;

            li {
                list-style-type: none;
                width: 32%;
                margin: 1%;
                position: relative;

                &:nth-of-type(3n) {
                    margin-right: 0;
                }

                &:nth-of-type(3n+1) {
                    margin-left: 0;
                }

                .details {
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                    width: 100%;
                    text-transform: uppercase;

                    .name {
                        font-family: $font-family-primary;
                        font-weight: bold;
                        font-size: 14px;
                        color: #ffffff;
                        display: block;
                        margin-bottom: 3px;
                    }

                    .title {
                        font-family: $font-family-primary;
                        font-weight: 500;
                        font-size: 10px;
                        color: #f8f9d2;
                        display: block;
                    }

                }

                img {
                    width: 100%;
                    height: 100%;
                }

                @media only screen and (max-width: 750px) {
                    width: 48%;

                    margin: 0 0 3% 0;

                    &:nth-child(odd) {
                        margin-right: 4%;
                    }

                }

            }

        }

    }

}
