// Buttons

a {
    &.btn {

        &.home {

            color: #f8f9d2;
            font-family: $font-family-primary;
            font-weight: bold;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;

            &#video {
                height: 40px;
                width: 170px;
                line-height: 45px;
                background-color: #441c12;
                transition: all 0.3s ease;
                margin-top: 48px;

                &:hover {
                    color: #441c12;
                    background-color: #f8f9d2;
                }

            }

        }

    }
}
