@font-face {
  font-family: 'Futura LT Pro';
  src: url("fonts/futura/FuturaLTPro-Light.eot");
  src: url("fonts/futura/FuturaLTPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/futura/FuturaLTPro-Light.woff2") format("woff2"), url("fonts/futura/FuturaLTPro-Light.woff") format("woff"), url("fonts/futura/FuturaLTPro-Light.ttf") format("truetype"), url("fonts/futura/FuturaLTPro-Light.svg#FuturaLTPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT Pro';
  src: url("fonts/futura/FuturaLTPro-Medium.eot");
  src: url("fonts/futura/FuturaLTPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/futura/FuturaLTPro-Medium.woff2") format("woff2"), url("fonts/futura/FuturaLTPro-Medium.woff") format("woff"), url("fonts/futura/FuturaLTPro-Medium.ttf") format("truetype"), url("fonts/futura/FuturaLTPro-Medium.svg#FuturaLTPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT Pro';
  src: url("fonts/futura/FuturaLTPro-Bold.eot");
  src: url("fonts/futura/FuturaLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/futura/FuturaLTPro-Bold.woff2") format("woff2"), url("fonts/futura/FuturaLTPro-Bold.woff") format("woff"), url("fonts/futura/FuturaLTPro-Bold.ttf") format("truetype"), url("fonts/futura/FuturaLTPro-Bold.svg#FuturaLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("fonts/klinic/KlinicSlab-Light.eot");
  src: url("fonts/klinic/KlinicSlab-Light.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-Light.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-Light.woff") format("woff"), url("fonts/klinic/KlinicSlab-Light.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-Light.svg#KlinicSlab-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("fonts/klinic/KlinicSlab-LightItalic.eot");
  src: url("fonts/klinic/KlinicSlab-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-LightItalic.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-LightItalic.woff") format("woff"), url("fonts/klinic/KlinicSlab-LightItalic.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-LightItalic.svg#KlinicSlab-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Klinic Slab Book';
  src: url("fonts/klinic/KlinicSlab-Book.eot");
  src: url("fonts/klinic/KlinicSlab-Book.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-Book.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-Book.woff") format("woff"), url("fonts/klinic/KlinicSlab-Book.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-Book.svg#KlinicSlab-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab Book';
  src: url("fonts/klinic/KlinicSlab-BookItalic.eot");
  src: url("fonts/klinic/KlinicSlab-BookItalic.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-BookItalic.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-BookItalic.woff") format("woff"), url("fonts/klinic/KlinicSlab-BookItalic.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-BookItalic.svg#KlinicSlab-BookItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("fonts/klinic/KlinicSlab-Medium.eot");
  src: url("fonts/klinic/KlinicSlab-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-Medium.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-Medium.woff") format("woff"), url("fonts/klinic/KlinicSlab-Medium.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-Medium.svg#KlinicSlab-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("fonts/klinic/KlinicSlab-MediumItalic.eot");
  src: url("fonts/klinic/KlinicSlab-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-MediumItalic.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-MediumItalic.woff") format("woff"), url("fonts/klinic/KlinicSlab-MediumItalic.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-MediumItalic.svg#KlinicSlab-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("fonts/klinic/KlinicSlab-Bold.eot");
  src: url("fonts/klinic/KlinicSlab-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-Bold.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-Bold.woff") format("woff"), url("fonts/klinic/KlinicSlab-Bold.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-Bold.svg#KlinicSlab-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("fonts/klinic/KlinicSlab-BoldItalic.eot");
  src: url("fonts/klinic/KlinicSlab-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/klinic/KlinicSlab-BoldItalic.woff2") format("woff2"), url("fonts/klinic/KlinicSlab-BoldItalic.woff") format("woff"), url("fonts/klinic/KlinicSlab-BoldItalic.ttf") format("truetype"), url("fonts/klinic/KlinicSlab-BoldItalic.svg#KlinicSlab-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  font-family: 'Avenir Next', Helvetica, sans-serif;
  background: #4b3024;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
  background-color: white;
}

body {
  color: white;
  position: relative;
  min-height: 100%;
}

section {
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  display: block;
  padding: 0 20px;
}
.row .column {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.primary {
  background-color: #c55227;
  padding: 120px 0 40px 0;
}
.primary h1 {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #f8f9d2;
  text-transform: uppercase;
}
.primary h2 {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

@keyframes fadeOutAndDisplayNone {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    position: absolute;
  }
}
@keyframes fadeInAndDisplayBlock {
  0% {
    opacity: 0;
    position: relative;
  }
  100% {
    opacity: 1;
  }
}
a.btn {
  display: block;
}
a.btn.home {
  color: #f8f9d2;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
a.btn.home.video-btn {
  height: 40px;
  width: 170px;
  line-height: 45px;
  background-color: #441c12;
  transition: all 0.3s ease;
  margin-top: 48px;
}
a.btn.home.video-btn:hover {
  color: #441c12;
  background-color: #f8f9d2;
}
a.btn.cases {
  box-sizing: border-box;
  display: inline-block;
  color: #441c12;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #c55227;
}
a.btn.cases.more {
  height: 40px;
  width: 140px;
  line-height: 38px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
a.btn.cases.more:hover {
  color: #ffffff;
  background-color: #c55227;
}
@media only screen and (max-width: 760px) {
  a.btn.cases.more {
    height: 50px;
    width: 110px;
    line-height: 48px;
  }
}
a.btn.contact {
  display: inline-block;
  color: #f8f9d2;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}
a.btn.contact.submit-btn {
  height: 40px;
  width: 145px;
  line-height: 44px;
  background-color: #441c12;
  transition: all 0.3s ease;
}
a.btn.contact.submit-btn:hover {
  color: #441c12;
  background-color: #f8f9d2;
}

img {
  border: 0;
  max-width: 100%;
  display: inline-block;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list li {
  display: block;
  margin-top: 1rem;
}
.list li:first-child {
  margin-top: 0;
}
@media screen and (orientation: landscape) {
  .list--inline li {
    display: inline-block;
    margin-left: 1rem;
  }
  .list--inline li:first-child {
    margin-left: 0;
  }
}

nav#menu {
  width: 240px;
  display: block;
  background: #b4bad2;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
  -webkit-transform: translate3d(5000px, 0, 0);
  transform: translate3d(5000px, 0, 0);
  -webkit-transition: -webkit-transform 800ms ease-out;
  transition: transform 800ms ease-out;
}
nav#menu a {
  color: #381b15;
  transition: all 300ms;
}
nav#menu a:hover, nav#menu a :focus {
  color: #c94e50;
  transition: all 300ms;
}

/* Menu Button */
.menu-button {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 64px;
  height: 40px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-size: cover;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAABQCAYAAADRAH3kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJZJREFUeNrs3LENwCAMAEGcycjkZDOHFSKaYO4aOiTEU5rWAAAAAAAoLk47cGaOufQix3ki4l7Z4PIGziYAASAABIAAEAACQAAAAAAAAAAA7O43cwGZ2ecyXMkn5gJYIwABIAAEgAAQAAJAAAAAAAAAAADsbnkuoNj/+7sxF8AaAQgAASAABIAAEAACAAAAAAAAyngFGAA1zA86kdZXZQAAAABJRU5ErkJggg==);
  cursor: pointer;
}

.menu-button:hover {
  opacity: 0.6;
}

/* Close Button */
.close-button {
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 1em;
  font-size: 1em;
  border: none;
  background: transparent;
  color: transparent;
}

.close-button:before,
.close-button:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #c65027;
}

.close-button:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

footer {
  width: 100%;
  background-color: #42403c;
  min-height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0px 10px 0px;
}
footer .contain {
  max-width: 1060px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
footer .contain #footer-logo {
  width: 220px;
  height: 100%;
}
@media only screen and (max-width: 1060px) {
  footer .contain #footer-logo {
    width: 180px;
  }
}
@media only screen and (max-width: 970px) {
  footer .contain #footer-logo {
    width: 145px;
  }
}
footer .contain .navigation {
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
footer .contain .navigation a {
  transition: all 0.3s ease;
}
footer .contain .navigation a:link, footer .contain .navigation a:visited, footer .contain .navigation a:active {
  color: #fff;
}
footer .contain .navigation a:hover {
  color: #c55227;
}
footer .contain .social {
  max-width: 160px;
  width: 100%;
  display: flex;
  position: relative;
}
footer .contain .social a {
  width: 40px;
  height: 40px;
  display: inline;
  background-size: 40px 40px;
  opacity: 0.7;
  transition: all 0.3s ease;
  position: relative;
  top: 12px;
}
footer .contain .social a:hover {
  opacity: 1;
}
footer .contain .social a.linkedin {
  background-image: url("../images/icons/social_icon-linkedin.png");
}
footer .contain .social a.facebook {
  background-image: url("../images/icons/social_icon-facebook.png");
}
footer .contain .social a.twitter {
  background-image: url("../images/icons/social_icon-twitter.png");
}
footer .contain .social a.instagram {
  background-image: url("../images/icons/social_icon-instagram.png");
}
@media only screen and (max-width: 970px) {
  footer .contain .social {
    max-width: 140px;
  }
  footer .contain .social a {
    height: 35px;
    width: 35px;
    top: 6px;
    background-size: 35px 35px;
  }
}
@media only screen and (max-width: 970px) {
  footer .contain .social {
    max-width: 140px;
  }
  footer .contain .social a {
    height: 35px;
    width: 35px;
    top: 6px;
  }
  footer .contain .navigation {
    font-size: 12px;
  }
}
@media only screen and (max-width: 750px) {
  footer .contain {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .contain .navigation {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  footer .contain .social {
    max-width: 120px;
    width: 100%;
    display: flex;
    position: relative;
  }
  footer .contain .social a {
    width: 30px;
    height: 30px;
    display: inline;
    background-size: 30px 30px;
    opacity: 0.7;
    transition: all 0.3s ease;
    position: relative;
    top: 0px;
  }
}
@media only screen and (max-width: 500px) {
  footer .contain .navigation {
    font-size: 10px;
  }
}
@media only screen and (max-width: 420px) {
  footer .contain .navigation {
    font-size: 9px;
  }
}
footer .copyright {
  max-width: 1060px;
  width: 100%;
  padding: 0 20px;
  text-align: left;
  font-size: 10px;
  margin-top: 15px;
}
@media only screen and (max-width: 750px) {
  footer .copyright {
    text-align: center;
  }
}

#home .masthead {
  min-height: 700px;
  background-color: blue;
}
#home .parallax {
  position: relative;
}
#home .parallax .chosen-series {
  position: absolute;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #dddddc;
  text-transform: uppercase;
}
#home .parallax .container {
  margin: auto;
  padding: 195px 125px;
  background-color: #441c12;
  background-image: url("../images/pattern_plus-sign_2x.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 83px 82px;
  background-position-y: -500px;
}
#home .parallax .container .text-block-one {
  z-index: 2000;
}
#home .parallax .container .text-block-one span {
  display: block;
  text-transform: uppercase;
}
#home .parallax .container .text-block-one span.small {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #dddddc;
}
#home .parallax .container .text-block-one span.medium {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #dddddc;
}
#home .parallax .container .text-block-one span.large {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  color: #c55227;
  padding: 10px 0;
}
#home .parallax .container .text-block-one span #small-chosen {
  display: inline;
}
#home .parallax .container .get-chosen {
  font-family: "Futura LT Pro", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #f8f9d2;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 400px;
}
#home .parallax .container .get-chosen span {
  color: #c55227;
}
#home .parallax .container .clients {
  width: 100%;
  padding: 50px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .parallax .container .clients ul {
  width: 100%;
  max-width: 794px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#home .parallax .container .clients ul li {
  list-style-type: none;
  margin: 20px 30px;
  padding: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}
#home .video {
  margin: 0;
  padding: 0;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #c55227;
  background: linear-gradient(to right bottom, #c55227 50%, #aa451f 50%);
  transition: max-height 3s ease;
}
#home .video h3 {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #441c12;
  text-transform: uppercase;
  margin: 36px 0;
  position: relative;
}
#home .video h3 span {
  color: #ff9b20;
}
#home .video .video-container {
  display: block;
  background-color: gray;
  width: 100%;
  max-width: 680px;
  height: auto;
}
#home .video .video-object {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
#home .video .video-object iframe, #home .video .video-object object, #home .video .video-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#home .video .video-btn {
  position: relative;
}
@media only screen and (max-width: 420px) {
  #home .video {
    transition: min-height 2s ease;
    min-height: 0px;
  }
}
#home .leadership {
  background-color: #b1aea7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 155px 15px 80px 15px;
  overflow: hidden;
  transition: all 1s ease;
}
#home .leadership:after {
  position: absolute;
  top: 63%;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #d0ceca;
  content: '';
  transform: skew(0deg, -35deg);
  -ms-transform: skew(0deg, -35deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -35deg);
  /* Safari and Chrome */
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
}
#home .leadership h3 {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #42403c;
  text-transform: uppercase;
  display: block;
  max-width: 896px;
  width: 100%;
  text-align: left;
}
#home .leadership h3 span {
  color: #ffffff;
}
#home .leadership ul {
  width: 100%;
  max-width: 896px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  z-index: 5000;
}
#home .leadership ul li {
  list-style-type: none;
  width: 32%;
  margin: 1%;
  position: relative;
}
#home .leadership ul li:nth-of-type(3n) {
  margin-right: 0;
}
#home .leadership ul li:nth-of-type(3n+1) {
  margin-left: 0;
}
#home .leadership ul li .details {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 100%;
  text-transform: uppercase;
}
#home .leadership ul li .details .name {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  display: block;
  margin-bottom: 3px;
}
#home .leadership ul li .details .title {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #f8f9d2;
  display: block;
}
#home .leadership ul li img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 750px) {
  #home .leadership ul li {
    width: 48%;
    margin: 0 0 3% 0;
  }
  #home .leadership ul li:nth-child(odd) {
    margin-right: 4%;
  }
}
@media only screen and (max-width: 750px) {
  #home .leadership {
    padding: 25px 15px 80px 15px;
  }
  #home .leadership h3 {
    font-size: 24px;
  }
  #home .leadership h3 span {
    color: #ffffff;
  }
}

#approach .primary {
  padding-bottom: 50px;
}
#approach .primary .video-container {
  display: block;
  background-color: gray;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 35px;
}
#approach .primary .video-container .video-object {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
#approach .primary .video-container .video-object iframe, #approach .primary .video-container .video-object object, #approach .primary .video-container .video-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#approach .primary .statement {
  font-family: "Klinic Slab", sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
}
#approach .primary .statement span {
  font-weight: bold;
  color: #f8f9d2;
}
#approach .steps {
  width: 100%;
  display: block;
  min-height: 320px;
}
#approach .steps .step {
  display: flex;
}
#approach .steps .step.even {
  flex-direction: row-reverse;
}
#approach .steps .step.odd {
  flex-direction: row;
}
#approach .steps .step .block {
  width: 50%;
  min-height: 320px;
  display: block;
}
#approach .steps .step .block.title {
  background-color: #441c12;
  background-image: url(../images/pattern_plus-sign_2x.png);
  background-repeat: repeat;
  background-size: 83px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#approach .steps .step .block.title .number {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #c55227;
  margin-bottom: 20px;
}
#approach .steps .step .block.title .text {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #f8f9d2;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 4px solid #c55227;
  margin-bottom: 35px;
}
#approach .steps .step .block.title .text span {
  color: #c55227;
}
#approach .steps .step .block.infograph {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#approach .steps .step .block.infograph .summary {
  max-width: 380px;
  width: 100%;
  font-family: "Klinic Slab", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #42403c;
}
#approach .capabilities {
  background-color: #dddddc;
  min-height: 260px;
  padding-top: 55px;
  padding-bottom: 55px;
  display: block;
}
#approach .capabilities .column .title {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #c55227;
  display: block;
  margin-bottom: 20px;
}
#approach .capabilities .column .container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#approach .capabilities .column .container .block {
  width: 33.33333%;
}
#approach .capabilities .column .container .block span {
  display: block;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #42403c;
  margin-bottom: 15px;
}

#cases .case {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
}
#cases .case .small {
  background-color: #ffffff;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  transition: all 0.3s ease;
}
#cases .case .small .block {
  width: 100%;
  max-width: 380px;
}
#cases .case .small .block .title {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #c55227;
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
#cases .case .small .block .title sup {
  font-size: 50%;
  position: relative;
  left: 1px;
  top: -4px;
}
#cases .case .small .block .blurb {
  display: block;
  font-family: "Klinic Slab", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  max-width: 380px;
  width: 100%;
  padding: 20px 0px;
  transition: all 0.3s ease;
}
#cases .case .large {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 60%;
  transition: all 0.3s ease;
}
#cases .case#uscc-case .large {
  background-image: url("../images/cases/panel_uscellular-bg.png");
}
#cases .case#ulta-case .large {
  background-image: url("../images/cases/panel_ulta-bg.png");
}
#cases .case#sunpower-case .large {
  background-image: url("../images/cases/panel_sunpower-bg.png");
}
#cases .case#jh-case .large {
  background-image: url("../images/cases/panel_jacksonhewitt-bg.png");
}
@media only screen and (max-width: 760px) {
  #cases .case {
    height: 250px;
  }
  #cases .case .small {
    width: 45%;
  }
  #cases .case .small .block .title {
    font-size: 18px;
  }
  #cases .case .small .block .blurb {
    font-size: 12px;
    padding: 5px 0 10px 0;
  }
  #cases .case .large {
    width: 55%;
    background-size: 570px 250px;
  }
  #cases .case#uscc-case .large {
    background-position-x: -260px;
  }
  #cases .case#ulta-case .large {
    background-position-x: -75px;
  }
  #cases .case#jh-case .large {
    background-position-x: -190px;
  }
}

#culture .primary {
  padding-bottom: 50px;
}
#culture .primary .instagram-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#culture .primary .instagram-feed .box {
  margin-bottom: 10px;
}
#culture .primary .instagram-feed .box:nth-child(n+1):nth-child(-n+3) {
  width: 32%;
}
#culture .primary .instagram-feed .box:nth-child(n+4):nth-child(-n+5) {
  width: 49%;
}
#culture .primary .instagram-feed .box:nth-child(n+6):nth-child(-n+8) {
  width: 32%;
}
#culture .primary .instagram-feed .box img {
  width: 100%;
}
#culture .values {
  width: 100%;
  display: block;
  min-height: 320px;
}
#culture .values .value {
  display: flex;
}
#culture .values .value.even {
  flex-direction: row;
}
#culture .values .value.odd {
  flex-direction: row-reverse;
}
#culture .values .value .block {
  width: 50%;
  min-height: 310px;
  display: block;
}
#culture .values .value .block.title {
  background-color: #84827e;
  background-size: 83px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#culture .values .value .block.title .number {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #aac3bc;
  margin-bottom: 20px;
}
#culture .values .value .block.title .text {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #f8f9d2;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 4px solid #aac3bc;
  margin-bottom: 35px;
}
#culture .values .value .block.title .text span {
  color: #aac3bc;
}
#culture .values .value .block.infograph {
  background-color: #aac3bc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#culture .capabilities {
  background-color: #dddddc;
  min-height: 260px;
  padding-top: 55px;
  padding-bottom: 55px;
  display: block;
}
#culture .capabilities .column .title {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #c55227;
  display: block;
  margin-bottom: 20px;
}
#culture .capabilities .column .container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#culture .capabilities .column .container .block {
  width: 33.33333%;
}
#culture .capabilities .column .container .block span {
  display: block;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #42403c;
  margin-bottom: 15px;
}

#contact #contact-form {
  background-color: #c55227;
  padding: 120px 20px 55px 20px;
  display: flex;
  flex-direction: column;
}
#contact #contact-form h1 {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #f8f9d2;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
#contact #contact-form h2 {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
#contact #contact-form .fields {
  display: flex;
  padding-top: 55px;
  flex-direction: row;
}
#contact #contact-form .fields .left {
  width: 40%;
  display: block;
}
#contact #contact-form .fields .left .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 300px;
  width: 90%;
  vertical-align: top;
  margin-bottom: 27px;
}
#contact #contact-form .fields .left .input .input-field {
  position: relative;
  display: block;
  float: right;
  border: none;
  border-radius: 0;
  font-family: "Futura LT Pro", sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-appearance: none;
  padding: 15px 15px;
  width: 100%;
  background: transparent;
  color: #000000;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#contact #contact-form .fields .left .input .input-label {
  display: inline-block;
  float: right;
  color: #f3dcd4;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
}
#contact #contact-form .fields .left .input .input-content {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #f8f9d2;
  padding: 10px 0;
  position: relative;
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
#contact #contact-form .fields .left .input .input-label::before,
#contact #contact-form .fields .left .input .input-label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
#contact #contact-form .fields .left .input .input-label::before {
  border-top: 2px solid #f3dcd4;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#contact #contact-form .fields .left .input .input-label::after {
  z-index: -1;
  background: #f3dcd4;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
#contact #contact-form .fields .left .input .input-field:focus,
#contact #contact-form .fields .left .input .input-filled .input-field {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  outline: 0;
}
#contact #contact-form .fields .left .input .input-field:focus + .input-label .input-content,
#contact #contact-form .fields .left .input .input-filled .input-content {
  -webkit-transform: translate3d(0, -80%, 0);
  transform: translate3d(0, -80%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
#contact #contact-form .fields .left .input .input-field:focus + .input-label::before,
#contact #contact-form .fields .left .input .input-filled .input-label::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
#contact #contact-form .fields .left .input .input-field:focus + .input-label::before,
#contact #contact-form .fields .left .input .input-filled .input-label::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#contact #contact-form .fields .left .input .input-field:focus + .input-label::after,
#contact #contact-form .fields .left .input .input-filled .input-label::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
#contact #contact-form .fields .right {
  width: 60%;
  display: block;
}
#contact #contact-form .fields .right textarea {
  display: block;
  width: 100%;
  height: 290px;
  background-color: #d2643c;
  -moz-appearance: none;
  outline: 0px none transparent;
  border: 0;
  padding: 20px;
  font-family: "Klinic Slab", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
#contact #contact-form .fields .right textarea:focus {
  outline: 0;
}
#contact #contact-form .fields .right textarea::-webkit-input-placeholder {
  /* Chrome */
  color: #ffffff;
  opacity: 0.8;
}
#contact #contact-form .fields .right textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  opacity: 0.8;
}
#contact #contact-form .fields .right textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  opacity: 0.8;
}
#contact #contact-form .fields .right textarea:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #ffffff;
  opacity: 0.8;
}
#contact #contact-form .bottom {
  display: block;
  width: 100%;
  text-align: right;
}
@media only screen and (max-width: 680px) {
  #contact #contact-form .fields {
    flex-direction: column;
  }
  #contact #contact-form .fields .left {
    width: 100%;
  }
  #contact #contact-form .fields .left .input {
    width: 100%;
    max-width: 100%;
  }
  #contact #contact-form .fields .right {
    width: 100%;
  }
  #contact #contact-form .bottom {
    margin-top: 20px;
    text-align: center;
  }
}
#contact #jobs {
  padding: 55px 20px 55px 20px;
  background-color: #ffffff;
}
#contact #jobs .recruiter-box {
  display: flex;
}
#contact #jobs .recruiter-box .left {
  width: 70%;
}
#contact #jobs .recruiter-box .left h2 {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #c55227;
  text-transform: uppercase;
  margin-bottom: 35px;
}
#contact #jobs .recruiter-box .left ul.openings {
  list-style-type: none;
  padding: 0;
  display: block;
  width: 100%;
}
#contact #jobs .recruiter-box .left ul.openings li {
  list-style-type: none;
  display: flex;
  width: 90%;
  color: #000;
  padding: 20px 0;
  border-bottom: 1px solid #dddddc;
  position: relative;
}
#contact #jobs .recruiter-box .left ul.openings li:first-child {
  padding-top: 0px;
}
#contact #jobs .recruiter-box .left ul.openings li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
#contact #jobs .recruiter-box .left ul.openings li .position {
  font-family: "Klinic Slab", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  width: 60%;
}
#contact #jobs .recruiter-box .left ul.openings li .type {
  width: 20%;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #000000;
  text-align: center;
  position: relative;
  top: 4px;
}
#contact #jobs .recruiter-box .left ul.openings li .read-more {
  width: 20%;
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #c55227;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 4px;
}
#contact #jobs .recruiter-box .right {
  padding: 25px 20px;
  width: 30%;
  min-width: 300px;
  background-color: #dddddc;
  display: flex;
  flex-direction: column;
}
#contact #jobs .recruiter-box .right address {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-family: "Klinic Slab", sans-serif;
  font-size: 24px;
  line-height: 28px;
  display: block;
}
#contact #jobs .recruiter-box .right address span {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
#contact #jobs .recruiter-box .right .directions {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #c55227;
  text-transform: uppercase;
  margin-top: 10px;
  display: block;
}
#contact #jobs .recruiter-box .right hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #ffffff;
  /* old IE */
  background-color: #ffffff;
  /* Modern Browsers */
  margin-top: 20px;
  margin-bottom: 20px;
}
#contact #jobs .recruiter-box .right span {
  display: block;
}
#contact #jobs .recruiter-box .right span.digits-title {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #84827e;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#contact #jobs .recruiter-box .right span.digits {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #42403c;
  text-transform: uppercase;
}
#contact #jobs .recruiter-box .right span.follow {
  font-family: "Futura LT Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #42403c;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#contact #jobs .recruiter-box .right .social {
  max-width: 160px;
  width: 100%;
  display: flex;
  position: relative;
}
#contact #jobs .recruiter-box .right .social a {
  width: 40px;
  height: 40px;
  display: inline;
  background-size: 40px 40px;
  opacity: 0.7;
  transition: all 0.3s ease;
  position: relative;
  left: -10px;
}
#contact #jobs .recruiter-box .right .social a:hover {
  opacity: 1;
}
#contact #jobs .recruiter-box .right .social a.linkedin {
  background-image: url("../images/contact/social_icon-linkedin.png");
}
#contact #jobs .recruiter-box .right .social a.facebook {
  background-image: url("../images/contact/social_icon-facebook.png");
}
#contact #jobs .recruiter-box .right .social a.twitter {
  background-image: url("../images/contact/social_icon-twitter.png");
}
#contact #jobs .recruiter-box .right .social a.instagram {
  background-image: url("../images/contact/social_icon-instagram.png");
}
@media only screen and (max-width: 970px) {
  #contact #jobs .recruiter-box .right .social {
    max-width: 140px;
  }
  #contact #jobs .recruiter-box .right .social a {
    height: 35px;
    width: 35px;
    top: 6px;
    background-size: 35px 35px;
  }
}
@media only screen and (max-width: 680px) {
  #contact #jobs {
    padding: 25px 0 0 0;
  }
  #contact #jobs .recruiter-box {
    flex-direction: column;
  }
  #contact #jobs .recruiter-box .left {
    width: 100%;
    padding: 20px;
  }
  #contact #jobs .recruiter-box .left h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #contact #jobs .recruiter-box .left ul.openings li {
    width: 100%;
  }
  #contact #jobs .recruiter-box .right {
    width: 100%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  #contact #jobs .recruiter-box .right address {
    font-size: 20px;
    line-height: 24px;
  }
  #contact #jobs .recruiter-box .right address span {
    margin-bottom: 0px;
  }
  #contact #jobs .recruiter-box .right span {
    display: block;
  }
  #contact #jobs .recruiter-box .right span.digits-title {
    font-family: "Futura LT Pro", sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #84827e;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 10px;
  }
  #contact #jobs .recruiter-box .right span.digits {
    font-family: "Futura LT Pro", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #42403c;
    text-transform: uppercase;
  }
  #contact #jobs .recruiter-box .right span.follow {
    font-family: "Futura LT Pro", sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #42403c;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  #contact #jobs .recruiter-box .right hr {
    display: none;
  }
}

.lock {
  overflow: hidden;
  position: inherit;
}

a {
  text-decoration: none;
}

/*
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: #FF0000;

    -webkit-animation-name: spin;
-webkit-animation-duration: 4000ms;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

    animation-name: spin;
animation-duration: 4000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
*/
#stats {
  z-index: 99;
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 20px;
  color: #fff;
  z-index: 999;
  cursor: pointer;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#masthead {
  position: fixed;
}

#masthead canvas {
  background: transparent;
}

#scroll-down {
  z-index: 11;
  display: none;
  position: absolute;
  width: 200px;
  height: 75px;
  left: 50%;
  bottom: 35px;
  margin-left: -100px;
  text-align: center;
}

#scroll-down .scroll-down-text {
  display: block;
  margin: 0 auto;
  color: #FFF;
  letter-spacing: 0.05em;
}

#scroll-down .scroll-down-box {
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px auto 0;
  border: 1px SOLID #fff;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#scroll-down .scroll-down-box .scroll-down-arrow {
  width: 100%;
  height: 100%;
  background: url("../images/arrow-1.png") no-repeat;
  background-size: 10px 23px;
  background-position: 50% 50%;
}

.color-copper {
  color: #c55227;
}

.color-gold {
  color: #ff9b20;
}

.slide {
  width: 100%;
  top: 100%;
  position: absolute;
  display: block;
}

#home-first {
  background: #763c25;
  /* Old browsers */
  background: -moz-radial-gradient(center bottom, ellipse cover, #763c25 0%, #763c25 25%, #4b3024 50%, rgba(75, 48, 36, 0) 75%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center bottom, ellipse cover, #763c25 0%, #763c25 25%, #4b3024 50%, rgba(75, 48, 36, 0) 75%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center bottom, #763c25 0%, #763c25 25%, #4b3024 50%, rgba(75, 48, 36, 0) 75%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#763c25', endColorstr='#4b3024',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#home-first .bottom {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 75%;
  background: -moz-linear-gradient(top, rgba(68, 28, 18, 0) 0%, #441c12 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(68, 28, 18, 0) 0%, #441c12 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(68, 28, 18, 0) 0%, #441c12 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00441c12', endColorstr='#441c12',GradientType=0 );
  /* IE6-9 */
}

#home-second {
  background: #441c12;
}

.text-box {
  z-index: 2;
  width: 60%;
  height: 80%;
  max-width: 1400px;
  margin: auto;
  padding: 50px;
  color: #fff;
  background-color: transparent;
}

.heading,
.sub-heading {
  font-size: 64px;
  font-family: 'Futura', sans-serif;
  font-weight: 800;
  letter-spacing: 0.07em;
  margin: 0 0 25px 0;
}

.sub-heading {
  font-size: 32px;
  line-height: 40px;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

/* Bouncing Arrow */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: rotate(-45deg) translateY(0);
    transform: rotate(-45deg) translateY(0);
  }
  40% {
    -moz-transform: rotate(-45deg) translateY(-10px);
    transform: rotate(-45deg) translateY(-10px);
  }
  60% {
    -moz-transform: rotate(-45deg) translateY(-5px);
    transform: rotate(-45deg) translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: rotate(-45deg) translateY(0);
    transform: rotate(-45deg) translateY(0);
  }
  40% {
    -webkit-transform: rotate(-45deg) translateY(-10px);
    transform: rotate(-45deg) translateY(-10px);
  }
  60% {
    -webkit-transform: rotate(-45deg) translateY(-5px);
    transform: rotate(-45deg) translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: rotate(-45deg) translateY(0);
    -ms-transform: rotate(-45deg) translateY(0);
    -webkit-transform: rotate(-45deg) translateY(0);
    transform: rotate(-45deg) translateY(0);
  }
  40% {
    -moz-transform: rotate(-45deg) translateY(-10px);
    -ms-transform: rotate(-45deg) translateY(-10px);
    -webkit-transform: rotate(-45deg) translateY(-10px);
    transform: rotate(-45deg) translateY(-10px);
  }
  60% {
    -moz-transform: rotate(-45deg) translateY(-5px);
    -ms-transform: rotate(-45deg) translateY(-5px);
    -webkit-transform: rotate(-45deg) translateY(-5px);
    transform: rotate(-45deg) translateY(-5px);
  }
}
